.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    color: white;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    overflow-y: auto;
    z-index: 2;
  }
  
  .sidebar.open {
    transform: translateX(0);
    z-index: 2;
    background-image: var(--gradiente);
  }
  
  .menu-toggle-btn {
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    z-index: 0;
    background-image: none;
    height: fit-content;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fa-bars, .fa-xmark{
    font-size: 20px;
  } 

  .fa-hashtag, .fa-gear, .fa-house, .fa-bug {
    font-size: 20px;
    padding-right: 20px;
  }
  
  .close-btn {
    padding: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 150px;
    z-index: 2;
  }

  nav ul {
    list-style: none;
    padding: 0;
    padding-top: 20px;
  }
  
  nav ul li {
    padding: 15px;
    margin-left: 30px; 
    text-align: left;
}
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }

  .header-container{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
    background-image: var(--gradiente);
  }

  .user-card {
    background-color: var(--preto); 
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 180px;
}

.user-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.title-content{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  font-size: 20px;
  align-items: center;
  margin-left: 20px;
}

.post-card{
  background-color: var(--preto);
  padding: 10px;
  margin: 10px;
}

.body-content{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.comment-card{
  padding: 20px;
  background-color: var(--preto);
  margin: 10px;
}

.remove-btn{
  font-size: 12px;
  height: fit-content;
}
.name-btn-container{
  display: flex;
  justify-content: space-between;
}

.name-content{
  margin: 0;
  font-size: 18px;
}

.username-content{
  margin: 0;
}
  
  @media (min-width: 992px) {
    .sidebar {
      position: fixed;
        transform: translateX(0); 
        height: 100vh;
        width: 250px;
        background-image: var(--gradiente);
    }
    .menu-toggle-btn, .close-btn {
        display: none; 
    }
    .header-container{
      width: 100%;
      height: 100vh;
      padding: 0;
    }
    
  }

/* @media (prefers-color-scheme: dark) {
  
} */

